---
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import Programas from '../components/Programas.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Capacitaciones from '../components/Capacitaciones.astro';
import Contacto from '../components/Contacto.astro';
import Conocenos from '../components/Conocenos.astro';
import Consultoria from '../components/Consultoria.astro';
import PlanesAnuales from '../components/PlanesAnuales.astro';
// import CiberTruck from '../components/CiberTruck.astro';
// import Experience from '../components/Experience.astro';
---
<Layout>
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll">
		<div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Conocenos />
    </div>
    <div class="snap-center">
      <Consultoria />
    </div>
    <div class="snap-center">
      <PlanesAnuales
  />
    </div>
    <div class="snap-center">
      <Programas />
    </div>
    <div class="snap-center">
      <Capacitaciones />
    </div>
    <div class="snap-center">
      <Contacto />
    </div>
	</main>

</Layout>
