---
import ContactForm from "./ContactForm.astro"
import Section from "./Section.astro"
---

<Section
  title="Contacto"
  subtitle="¿Tienes alguna pregunta? Escríbenos"
  color="black" 
  id="contacto"
  showFooterContent="true"
>

  <div slot="footer" class="grid md:grid-cols-2 gap-6 max-w-6xl mx-auto px-4 w-full sm:pt-25 lg:py-12">
    <!-- Sección de contacto principal -->
    <ContactForm />
    <!-- Sección de contacto alternativo - Visible en todos los dispositivos -->
    <div class="mt-6 md:mt-0 md:relative flex items-center justify-center">
      <div class="text-center w-full md:absolute md:bottom-6">
        <p class="text-black mb-3 text-lg md:text-xl">O contáctanos directamente</p>
        <a
          class="bg-green-500 rounded font-medium text-white px-8 py-2 inline-block transition-colors duration-300  hover:bg-green-600"
          href="https://wa.me/+523330601213"
          target="_blank"
        >
          WhatsApp
        </a>
      </div>
    </div>
  </div>

  <!-- Imágenes de fondo responsivas -->
  <picture slot="background">
    <source media="(max-width: 767px)" srcset="/public/utilities/mobil.svg">
    <source media="(min-width: 768px) and (max-width: 1199px)" srcset="/public/utilities/contacto-tablet.svg">
    <source media="(min-width: 1200px)" srcset="/public/utilities/contacto.svg">
    <img
      alt="Fondo de contacto"
      class="h-full w-full object-cover object-center"
      src="/public/utilities/contacto.svg"
      id="bg-image-contact"
      loading="lazy"
    />
  </picture>
</Section>

<script>
  function isEdge() {
    return navigator.userAgent.indexOf("Edge") > -1 || 
           navigator.userAgent.indexOf("Edg") > -1;
  }

  document.addEventListener('DOMContentLoaded', () => {
    const imageElement = document.getElementById('bg-image-contact');
    if (imageElement && isEdge()) {
      imageElement.src = "/public/utilities/contacto.svg";
    }
  });
</script>